## DAtaFrame 만들기

In [2]:
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
np.random.seed(0)
pd.Series(np.random.rand(5),name='random')

0    0.548814
1    0.715189
2    0.602763
3    0.544883
4    0.423655
Name: random, dtype: float64

-random: 0과 1사이의 5개 난수로 구성된 numpy 배열\
-text: 5개의 문자열이나 None으로 구성된 리스트\
-truth: 5개의 임의의 부울값으로 구성된 리스트

pd.date_range()함수로 Datetimeindex 객체 만들어볼게~

In [6]:
np.random.seed(0) #재현을 위해 시드를 설정
pd.DataFrame(
    {
        'random':np.random.rand(5),
        'text':['hot','warm','cool','cold',None],
        'truth':[np.random.choice([True,False])
                 for _ in range(5)]
    },
    index=pd.date_range(
        end=dt.date(2019,4,21),
        freq='1D', periods=5, name='date'
    )
)

              random  text  truth
date
2019-04-17  0.548814   hot  False
2019-04-18  0.715189  warm   True
2019-04-19  0.602763  cool   True
2019-04-20  0.544883  cold  False
2019-04-21  0.423655  None   True

In [7]:
pd.DataFrame([
    {'mag': 5.2, 'place':'Californima'},
    {'mag':1.2,'place':'Alaska'},
    {'mag':1.2,'place':'California'},
])

   mag        place
0  5.2  Californima
1  1.2       Alaska
2  1.2   California

#### 튜플이 뭐야?
- 리스트는[], 튜플은() 로 둘러싼다.
- 리스트는 요소값의 생성, 삭제, 수정이 가능하지만 튜플은 요소값을 바꿀 수 없다!!
- 실제 프로그램에서는 값이 변경되는 형태의 변수가 훨씬 많기 때문에 평균적으로 튜플보다 리스트를 더 많이 사용한다...

In [10]:
list_of_tuples=[(n,n**2,n**3)for n in range(5)]
list_of_tuples

[(0, 0, 0), (1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64)]

In [12]:
pd.DataFrame(
    list_of_tuples,
    columns=['n','n_squared','n_cubed']
)

   n  n_squared  n_cubed
0  0          0        0
1  1          1        1
2  2          4        8
3  3          9       27
4  4         16       64

In [13]:
df=pd.read_csv('earthquakes.csv') #pd.read_csv() 함수로 로컬 컴퓨터의 파일 읽기

## DataFrame 객체 확인하기
>우리의 주된 목표는 데이터가 제대로 읽혔는지. 그리고 모든 데이터가 들어있는지를 확인하는 것이지만!! 초기 검사를 통해 데이터 랭글링을 어떨게 진행해야 할 것이지에 대한 아이디어를 얻는것이다~~

In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv('earthquakes.csv')

dataframe을 csv파일로 만들기 : to_csv()메서드 사용!\
이때 df의 인덱스가 단순히 행 번호라면, 이 행 번호를 파일에 저장하는 것을 원치 않을 수 있지만 기본으로 저장이 되어버린다. 이때, index=False 옵션을 사용하면 인덱스를 저장하지 않음!!

In [14]:
df.to_csv('output.csv',index=False)